--extra-index-url https://download.pytorch.org/whl/cpu
streamlit
pandas
plotly
folium
streamlit-folium
fpdf2
openpyxl
opencv-python-headless
torch
torchvision
ultralytics
numpy
pillow
google-generativeai
